/* ion-item{
    --background: ;
    --color: #fff;
}

ion-button{
    --background: #062f77;
} */

ion-content{
    --background:lightcyan;
}

ion-header{
    font-style: oblique;
    --font-size: large;
}