
ion-segment-button{
    --background: slategray;
    color: black;
    font-size: larger;
    font-family: auto;
}

ion-content{
    --background:lightcyan;
}

ion-header{
    font-style: oblique;
    --font-size: large;
}